@model MvcBasic.ViewModels.MemberViewModel

@{
    ViewBag.Title = "登録";
}

<h2>ユーザー作成</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>ユーザー情報を入力してください。</h4>
        <hr />
        <input type="submit", value="登録">
        <table class="table">
        @for(var i=0; i<5; i++)
        {
            //ここの仮引数listはActionメソッドでの実引数と同じ名前にしないとバインドされないよ！！
            var key = $"list[{i}].";
            <tr>
                <td>@Html.TextBox(key + "Name")</td>
                <td>@Html.TextBox(key + "Emaail")</td>
                <td>@Html.TextBox(key + "Birth")</td>
            </tr>
        }
        </table>
    </div>
}