<table>
    <tr>
        <th>名前</th>
        <th>メール</th>
        <th>趣味</th>
    </tr>
    <tr>
        <td>安藤和樹</td>
        <td>seal1226.jp@gmail.com</td>
        <td>ゲームが好きです。</td>
    </tr>
</table>
